{deps, [{lager, "3.6.7", {git, "https://github.com/erlang-lager/lager", {tag, "3.6.7"}}},
        {ranch, "1.6.2", {git, "https://github.com/ninenines/ranch", {tag, "1.6.2"}}},
        {edeliver, "v1.9.0-rc.3", {git, "https://github.com/edeliver/edeliver", {tag, "v1.9.0-rc.3"}}}
       ]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{relx, [{release, { eco, "0.1.0" }, [
          eco,
          edeliver,
          sasl
        ]},

        {sys_config, "./config/sys.config"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.